# Copy this file to .env to load in project secrets.
# This file should not be checked into version control.

# Generate hash salt with the following command:
# drush php-eval 'echo \Drupal\Component\Utility\Crypt::randomBytesBase64(55);'
DRUPAL_HASH_SALT=ygJtSKgSoogN2OPL234hG0OG0b-x8tUKMsmuGLEFkjrv655tJJeeTMZ0OC4DczADPMHh9wzO-g

# You can choose not to use Docker for local development by setting DOCKER_LOCAL to 0.
DOCKER_LOCAL=1
D4D_HOSTNAME=d9-quickstart.lndo.site

# Set REDUCE_CACHING to 1 for the lines in 90-docker.settings.inc file to switch off a few Drupal caching options.
# Slows the site down but means you don't have to clear cache as much.
REDUCE_CACHING=1
