{#
variables:
- someRegionFromDrupal: renderable

example:
    {% include '@components/footer/footer.html.twig' with {
      content: {
        someRegionFromDrupal: '<p>Some markup from the depths of drupal.</p>'
      }
    }%}
#}
<footer class="footer">
  <h2>The footer</h2>
  <div class="footer__contain">
    {{ title }}
  </div>
</footer>
